.text-section {
  position: relative;
  &.title {
    font-weight: bold !important;
    text-align: center;
  }
  &.zoom-in {
    .content {
      font-size: 40px;
    }

    .line {
      padding-bottom: 50px;
      color: #111;
    }
  }
  .content {
    font-size: 32px;
  }

  .line {
    position: relative;
    padding-bottom: 40px;
    line-height:180%;
    color: #111;
    &.show-copy {
      background: rgba(0,0,0,0.4);
    }
  }
  .highlight {
    font-weight: bold;
    color: black;
  }
  .highlight-keyword {
    color: black;
    font-weight: bold;
    font-style: italic;
    background: gold;
    padding: 0px 10px 0px 5px;
  }

  .copy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
