.example-page {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 200px;
  background: lightgrey;
  overflow-y: scroll;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
  .header {
    display: flex;
    .search {
      width: 75%;
    }
    .select {
      width: 20%;
      padding-left: 5%;
      background: white;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #6190E8;
      border-bottom: 0.5px solid #d6e4ef;
      .icon-click {
        width: 28px;
        height: 28px;
        margin-left: 6px;
      }
    }
  }

  .title {
    margin: 30px 10px 0px 20px;
    text-align: center;
  }
  .options {
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .option {
      font-size: 34px;
      min-width: 60px;
      text-align: center;
      margin: 10px 8px;
      padding: 2px 10px;
      border-radius: 6px;
      color: white;
      &.procuratorate-option {
        background: palevioletred;
      }
      &.court-option {
        &.out-dated {
          text-decoration: line-through;
          text-decoration-color: black;
          background: gray;

        }
        background: dodgerblue;
      }

      &.expand {
        box-sizing: border-box;
        width: 100vw;
        white-space: pre-wrap;
        text-align: left;
      }
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }

  .loading-container {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc( 100vh - 100px );
    width: 100%;
    background: lightgray;
  }

  .no-result {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 38px;
    color: midnightblue;
  }

  .float {
    position: fixed;
    background: green;
    bottom: 5%;
    right: 5%;
  }

  .float-help {
    position: fixed;
    top: 9%;
    right: 60px;
  }
}

.result-item {
  position: relative;
  .exact-match {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36px;
    height: 36px;
  }
}

.exact-match-hide {
  display: none;
}
.at-search-bar {
  width: 100vw;
}
.at-list__item {
  padding: 20px;
  .item-content__info-note {
    color: #b07200;
  }
  .item-content__info-title {
    font-size: 32px;
    white-space: pre-wrap;
  }
}

.icon-line {
  display: flex;
  justify-content: center;
  color: #666666;
  margin: 16px 0;
}
