
.my-collection {
  .my-collection-list {
    display: flex;
    flex-direction: column-reverse;
  }
  .sub-title {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      font-size: 28px;
      font-weight: bold;
      padding: 6px 20px;
    }
    .divider {
      flex-grow: 1;
      border: 2px solid #6190E8;
    }
  }

  .my-collection-list-item {
    position: relative;
    .time {
      margin: 24px 0 4px 24px;
      //color: #333333;
      font-size: 28px;
      color: #5200cc;
    }
    .float-delete {
      position: absolute;
      right: 20px;
      top: 40px;
      z-index: 9999;
    }
    .item-line {
      display: flex;
      align-items: center;
      .main {
        flex-grow: 1;
        max-width: 86vw;
      }
      .item-line-delete {
        padding: 0 20px 0 10px;
      }
    }
  }
}
