.index-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: #fff;
  overflow-y: scroll;
  position: relative;
  &.read-mode {
    background: #F4ECD8;
  }

  .float-help {
    z-index: 9999;
    position: fixed;
    top: 460px;
    right: 50px;
    &.focus {
      padding: 20px;
      border-radius: 50px;
      box-shadow: 0px 0px 9999px 9999px rgba(0,0,0,0.6);
    }
  }

  .float-menu {
    position: fixed;
    top: 320px;
    left: 60px;
  }

  .float-analytics {
    position: absolute;
    top: 280px;
    right: 60px;
  }

}

.footer-logo {
  position: fixed;
  top: 50%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
  line-height: 100px;
  height: 90px;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: rgba(97, 144, 232, 0.8);
  -webkit-animation: blurFadeInOut 8s ease-in backwards;
  -moz-animation: blurFadeInOut 8s ease-in backwards;
  -ms-animation: blurFadeInOut 8s ease-in backwards;
  animation: blurFadeInOut 8s ease-in backwards;
}

.float-setting {
  position: fixed;
  top: 280px;
  right: 40px;
  z-index: 102;
  .setting {
    width: 100px;
    height: 100px;
  }
}
.tag-line {
  color: burlywood;
  display: flex;

  .law {
    width: 30vw;
  }
  .number {
    width: 70vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }
}


.at-input {
  margin-left: 0px;
}

.at-modal__footer .at-modal__action>button.btn-5 {
  color: white;
  background: #6190E8;
  font-size: 36px;
  font-weight: bold;
  margin: 0 30px 10px 30px;
  //animation: enabled 4s infinite;
}


.at-input__container {
  text-align: center;
}
.at-input {
  input {
    font-size: 34px;
    color: #6190E8;
  }
}
.search-law {
  text-align: center;
  color: #6190E8;
  font-size: 28px;
  margin: 24px;
  text-decoration: underline;
  text-decoration-color: #6190E8;
}

.at-modal__content {
  height: 480px;
}
.icon-line {
  margin: 40px 0px 10px 20px;
  font-size: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .text {
    margin-left: 40px;
    color: #666666;
    width: 380px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .at-input {
    padding: 10px 0;
  }
}

//@keyframes enabled {
//  0% {
//    color: #004d00;
//  }
//  50% {
//    color: #5cd65c;
//  }
//  100% {
//    color: #004d00;
//
//  }
//}

.at-tag--circle {
  margin: 8px 6px 4px 6px;
}

.at-modal__overlay {
  background: rgba(0,0,0,0.1);
}
.at-modal__container {
  top: 40%;
}

.ad-bottom {
  position: fixed;
  width: 100vw;
  left: 0%;
  bottom: 0;
  z-index: 2000;
  background: rgba(0,0,0,0.6);
}
.float-sofa {
  z-index: 9;
  position: fixed;
  top: 83%;
  right: 40px;
  opacity: 1;
  .at-badge__num {
    width: 50px;
  }
  .law-icon {
    width: 70px;
    height: 70px;
  }
}

.at-drawer {
  z-index: 99999;
  .at-drawer__content {
    box-sizing: border-box;
    width: 80vw;
    padding-top: 100px;
    .at-accordion {
      max-width: 92%;
      .at-accordion__info {
        max-width: 100%;
      }
    }
    .cause-option {
      padding: 12px 2px 2px 18px;
      color: #333333;
      font-size: 32px;
      &.active {
        color: #6190E8;
      }
    }
  }
}
