@import "~taro-ui/dist/style/index.scss";

.at-accordion  {
  margin-bottom: 16px;
}
.at-accordion__info__note {
  color: #333333;
}
.at-accordion__header {
  padding: 12px;
  border-left: 6px solid #6190E8;
}
.at-list__item {
  background: white;
}
