@import "~taro-ui/dist/style/index.scss";

.at-accordion  {
  margin-bottom: 16px;
}
.at-accordion__info__note {
  color: #333333;
  animation: indicator 4s ease-in-out infinite;
  border-left: 8px solid #2063df;
  padding-left: 6px;
  font-size: 34px;
}
.at-accordion__header {
  padding: 10px 12px 10px 20px;
}
.at-list__item {
  background: rgba(256, 256, 256, 0.6);
  .item-extra__icon-arrow {
    color: #6190E8;
  }
}
.at-accordion__arrow{
  color: #6190E8;
}
.at-switch {
  background-color: transparent;
}
.at-switch__container {
  background-color: transparent;
}
.at-divider__content {
  background: #F4ECD8;
  padding: 0;
}
.at-list__item {
  border-bottom: 1px solid #cccccc;
  .item-content__info-note {
    color: #666;
  }
}

.at-list__item::after {
  border-bottom: none;
}
.at-curtain__container {
  width: 90%;
}
.at-curtain__body {
  display: flex;
  justify-content: center;
}
.at-accordion__header {
  font-size: 34px;
}




@keyframes indicator {
  0% {
    border-left-color: #6190E8;
  }
  50% {
    border-left-color: #b3ffb3;
  }
  100% {
    border-left-color: #6190E8;
  }
}

