.litigation-regulation-page {
  &.global-search {

  }
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  overflow-y: scroll;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
  .category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    margin-top: 10px;
    min-height: 800px;
    .active {
      border: lawngreen 5px solid;
    }

    .history {
      box-sizing: border-box;
      width: 680px;
      min-height: 300px;
      padding: 20px 20px;
      background: white;
      border-radius: 10px;
      box-shadow: 0px 0px 6px 2px rgba(181,181,181,1);
    }

    .category-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .category-item {
        padding: 10px 10px;
        margin-right: 20px;
        margin-top: 10px;
        background: #f0f0f0;
        border-radius: 10px;
        font-size: 46px;
        color: #555
      }
    }
    .category-name {
      color: #6190E8;
      font-weight: bold;
      font-size: 26px;
    }
  }

  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1000;
  }

  .no-result {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 38px;
    color: midnightblue;
  }

  .modal {
    position: fixed;
    top: 4%;
    left: 2%;
    width: 96%;
    background: white;
    box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
    border-radius: 20px;
    z-index: 999;
    &.read-mode {
      background: #F4ECD8;
    }

    .modal-content {
      padding: 20px 10px 20px 20px;
      font-size: 34px;
      white-space: pre-wrap;
    }
    .modal-button {
      font-size: 28px;
      text-align: center;
      padding: 0px;
      border: none;
      border-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top: 1px solid #aaa;
      color: #777777;
      background: transparent;
    }
  }
}

.float {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.more {
  font-size: 34px;
  padding: 20px 0 30px 0;
  color: #16459c;
  text-decoration: underline;
  text-decoration-color: #16459c;
  text-align: center;
}

.at-list__item {
  padding: 22px 10px 14px 10px;
}

.at-list__item {
  .item-content__info-title {
    font-size: 32px;
    color: black;
  }

  .item-content__info-note {
    font-size: 30px;
    color: #802b00;
  }
}

.type-container {
  .type-result-title {
    padding: 32px 0 10px 0;
    display: flex;
    justify-content: center;
    .title {
      background-color: #6190E8;
      color: white;
      border-radius: 6px;
      padding: 0px 10px;
    }
  }
}

.type-container:nth-child(2n) {
  background-color: rgba(153,230,153,0.2);
}

.float-setting {
  position: fixed;
  top: 180px;
  right: 40px;
  z-index: 102;
  .setting {
    width: 100px;
    height: 100px;
  }
}

.at-modal__content {
  height: 800px;
}

.normal {
  border: 2px solid transparent;
  &.invalid {
    border: 2px solid #ff1a1a;
  }
}


.at-radio__title {
  color: #6190E8;
}

.select {
  margin-bottom: 10px;
  color: #6190E8;
  .at-radio__option-container {
    font-weight: bold;
  }
  .at-radio__title {
    color: black;
  }
}

.at-radio::after, .at-radio::before {
  border-top: none !important;
  border-bottom: none !important;
}

