.criminal-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: #F4ECD8;
  overflow-y: scroll;
  &.read-mode {
    background: #F4ECD8;
  }

  .header {
    display: flex;
    .search {
      width: 80%;
    }
    .select {
      width: 15%;
      padding-left: 5%;
      background: white;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #6190E8;
      border-bottom: 0.5px solid #d6e4ef;
      .icon-click {
        width: 28px;
        height: 28px;
        margin-left: 6px;
      }
    }
  }

  .options {
    margin-left: 20px;
    .option-title {
      margin-top: 30px;
      font-size: 32px;
    }
    .sub-options {
      margin-bottom: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .option {
        margin-top: 20px;
        margin-right: 30px;
        display: inline-block;
        color: #6190E8;
        border: 2px solid #6190E8;
        border-radius: 10px;
        font-size: 40px;
        padding: 5px 10px;
        background: white;
      }
    }
  }

  .loading-container {
    position: fixed;
    top: 130px;
    left: 0;
    height: calc( 100vh - 130px );
    width: 100%;
    background: transparent;
  }

  .all-law-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 20px;
    margin-bottom: 30px;
    .all-law-key {
      min-width: 100px;
      text-align: center;
      margin-right: 10px;
      margin-top: 10px;
      font-size: 28px;
      background: #6190E8;
      color: white;
    }
  }
  .all-law-key {
    margin-right: 10px;
  }
  .all-title {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 32px;
  }

  .all-law-categories {
    background: transparent;
    margin-bottom: 10px;
  }
  .float {
    position: fixed;
    background: green;
    bottom: 5%;
    right: 5%;
  }
  .term-complement {
    margin-top: 10px;
    padding: 24px;
    font-size: 34px;
    color: #333333;
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:last-of-type {
      padding-bottom: 60px;
    }
  }

  .float-help {
    position: fixed;
    top: 14%;
    right: 60px;
  }
}

.at-accordion__info__note {
  width: 80vw;
}
