.user-page {
  box-sizing: border-box;
  padding: 260px 20px 60px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
}


.at-modal__container{
  width: 600px;
}
.video-container {
  height: 260px;
  position: fixed;
  top:0;
  left:0vw;
  width: 100vw;
  background: white;
  z-index: 1;
  border-bottom: 6px solid #b07200;
}

