.user-page {
  padding: 0px 20px 60px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
}

.at-modal__container{
  width: 600px;
}
.video-container {
  height: 550px;
}

