.user-page {
  box-sizing: border-box;
  padding: 10px 20px 260px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .reload-icon {
      position: absolute;
      top: 20px;
      right: 20vw;
    }
  }
}


.at-modal__container{
  width: 600px;
}
.video-container {
  height: 256px;
  position: fixed;
  bottom:0;
  left:0vw;
  width: 100vw;
  background: white;
  z-index: 1;
}

.icon-line {
  margin: 10px 10px 20px 10px;
  display: flex;
  color: #6190E8;
  text-decoration: underline;
  text-decoration-color: #6190E8;
}
