.user-page {
  box-sizing: border-box;
  padding: 0px 20px 260px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
}


.at-modal__container{
  width: 600px;
}
.video-container {
  height: 258px;
  position: fixed;
  bottom:0;
  left:0vw;
  width: 100vw;
  background: white;
  z-index: 1;
}

