.text-section-linked {
  &.zoom-in {
    .content {
      font-size: 40px;
    }

    .line {
      padding-bottom: 30px;
    }
  }
  .content {
    font-size: 32px;
  }

  .line {
    padding-bottom: 20px;
  }
  .highlight {
    font-weight: bold;
    color: black;
  }
  .highlight-keyword {
    color: #6190E8;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #6190E8;
    padding: 0px 10px 0px 5px;

    &.in-modal {
      font-size: 38px;
      margin-bottom: 30px;
    }
  }

}
