@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.other-page {
  .title {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    padding: 60px 0 60px 20px;
    background: black;
    color: white;
    font-size: 36px;
  }
  .comments {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px 20px;
    .comment {
      flex-grow: 1;
      .comment-box {
        display: inline-block;
        background: lightgreen;
        position: relative;
        padding: 12px 28px;
        border-radius: 10px;
        font-size: 28px;
        margin-left: 20px;
        &:before{
          content: '';
          width: 0px;
          height: 0px;
          position: absolute;
          border: 15px solid;
          border-color: transparent lightgreen transparent transparent;
          left: -26px;
          top: 10px;
        }
      }
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
  }

  .loading {
    display: inline-block;
    background: transparent;
    animation:spin 1s linear infinite;
  }

  .text-container {
    font-size: 32px;
    color: #c6823b;
    padding: 0 20px;
  }
}

.background-image {
  width: 100%;
}

.poster-container {
  display: flex;
  justify-content: center;
  .poster {
    width: 622px;
  }
}

.copy-label {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
}
.copy-link {
  text-align: center;
  font-size: 24px;
  color: #6190E8;
  text-decoration: underline;
  text-decoration-color: #6190E8;
}
