.grid-item {
  position: relative;
  width: 88vw;
  height: 120px;
  box-shadow: 0px 0px 6px -1px rgba(140,140,140,1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 18px 20px 26px;
  box-sizing: border-box;
  background: rgba(256,256,256,0.6);
  .float-item {
    position: absolute;
    top: 16px;
    right: 6px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    //background: #6190E8;
    .tag {
      font-size: 24px;
      display: inline-block;
      padding: 6px 10px;
      border-radius: 22px;
      background: #1e90ff;
      color: white;
      &.criminal{
        background: brown;
      }
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    height: 60px;
  }

  .title {
    font-size: 32px;
    width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    .construction-icon {
      width: 90px;
      height: 90px;
    }
  }
}
