.search-item {
  display: block;
  margin: 15px 10px 25px 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 26px;
  white-space: pre-wrap;
  background: white;

  .crime {
    background: darkred !important;
  }

  .tag {
    font-size: 32px;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 20px;
    background: dodgerblue;
    color: white;

  }
}
