.grid-item {
  position: relative;
  width: 228px;
  height: 160px;
  box-shadow: 0px 0px 6px -1px rgba(140,140,140,1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 20px;
  box-sizing: border-box;
  background: rgba(256,256,256,0.6);
  .float-item {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background: #6190E8;
  }

  .title {
    font-size: 28px;
    font-weight: bold;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
