
.user-float-button {
  position: fixed;
  top: 82%;
  left: 0;
  width: 80px;
  height:100px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 9999;
  .avatar-container {
    position: absolute;
    top:0;
    right: -50px;
    border-radius: 50%;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
  }
}
