.litigation-law-page {
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  overflow-y: scroll;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
  .category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    margin-top: 10px;
    min-height: 800px;
    .active {
      border: lawngreen 5px solid;
    }

    .history {
      box-sizing: border-box;
      width: 680px;
      min-height: 300px;
      padding: 20px 20px;
      background: white;
      border-radius: 10px;
      box-shadow: 0px 0px 6px 2px rgba(181,181,181,1);
    }

    .category-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .category-item {
        padding: 10px 10px;
        margin-right: 20px;
        margin-top: 10px;
        background: #f0f0f0;
        border-radius: 10px;
        font-size: 46px;
        color: #555
      }
    }
    .category-name {
      color: #6190E8;
      font-weight: bold;
      font-size: 26px;
    }
  }

  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1000;
  }

  .no-result {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 38px;
    color: midnightblue;
  }

  .modal {
    position: fixed;
    top: 4%;
    left: 2%;
    width: 96%;
    background: white;
    box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
    border-radius: 20px;
    z-index: 999;
    &.read-mode {
      background: #F4ECD8;
    }

    .modal-content {
      padding: 20px 10px 20px 20px;
      font-size: 34px;
      white-space: pre-wrap;
    }
    .modal-button {
      font-size: 28px;
      text-align: center;
      padding: 0px;
      border: none;
      border-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top: 1px solid #aaa;
      color: #777777;
      background: transparent;
    }
  }
}

.float {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.at-accordion__info__note {
  width: 80vw;
  color: black;
}

.at-accordion__header {
  padding-left: 0;
  background-color: rgba(256,256,256,0.4);
}
