.example-page {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 200px;
  background: lightgrey;
  overflow-y: scroll;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
  .header {
    display: flex;
    .search {
      width: 75%;
    }
    .select {
      width: 20%;
      padding-left: 5%;
      background: white;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #6190E8;
      border-bottom: 0.5px solid #d6e4ef;
      .icon-click {
        width: 28px;
        height: 28px;
        margin-left: 6px;
      }
    }
  }

  .title {
    margin: 30px 10px 0px 20px;
  }
  .options {
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .option {
      min-width: 70px;
      text-align: center;
      margin: 5px 10px;
      border-radius: 6px;
      color: white;
      &.procuratorate-option {
        background: darkred;
      }
      &.court-option {
        background: dodgerblue;
      }

      &.expand {
        width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }

  .loading-container {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc( 100vh - 100px );
    width: 100%;
    background: transparent;
  }

  .no-result {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 38px;
    color: midnightblue;
  }

  .float {
    position: fixed;
    background: green;
    bottom: 5%;
    right: 5%;
  }

  .float-help {
    position: fixed;
    top: 14%;
    right: 60px;
  }

  .result-item {
    position: relative;
    .exact-match {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 36px;
      height: 36px;
      z-index: 9;
      opacity: 0.6;
    }
  }

  .exact-match-hide {
    display: none;
  }
}

.category-divider {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: black;
  margin: 30px 0;
}

.float-category {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.at-indexes__list-title {
  font-size: 28px;
  color: #16459c;
  margin: 10px 0;
}
.at-list__item {
  font-size: 30px;
  background: #F4ECD8;
  padding: 16px;
}
