.new-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 10px 10px 0;
  .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
    border-radius: 8px;
    margin: 6px 20px 20px 20px;
    padding: 6px 20px;
    box-shadow: 0px 0px 5px 6px #6190E8;
    color: #000;
    font-size: 42px;
    .option-icon {
      margin-bottom: 12px;
      width: 80px;
      height: 80px;
    }
  }
}

