.civil-term-detail-page {
  padding: 0 4px;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 32px;
  &.read-mode {
    background: #F4ECD8;
  }
  &.zoom-in {
    .header {
      font-size: 36px;
    }
    .section {
      font-size: 40px;
    }
    .understanding-line {
      font-size: 40px;
    }
    .pane {
      font-size: 40px !important;
    }
  }

  .header {
    color: gray;
  }

  .section {
    padding: 10px 0px 10px 10px;
    white-space: pre-wrap;
    font-size: 32px;
    margin-bottom: 50px;
    .section-title {
      color: #6190E8;
    }
  }

  .example {
    white-space: pre-wrap;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .tag-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: 32px;
    .pre-tag {
      margin-bottom: 20px;
      margin-right: 10px;
    }
    .tag {
      font-size: 32px;
      display: inline-block;
      padding: 3px 10px;
      margin-bottom: 20px;
      border-radius: 10px;
      background: dodgerblue;
      color: white;
    }
  }

  .footer {
    z-index: 9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 20px 20px 90px 20px;
    //background: #faf5eb;
    background: white;
    .text {
      flex-grow: 1;
      padding: 10px 10px 10px 0;
      display: flex;
      align-items: center;
      .input {
        flex-grow: 1;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 20px;
        background: #f6f6f6;
        font-size: 32px;
      }
    }
  }
  .favorite-container {
    margin: 0 10px 0 20px;
  }

  .float-zoom {
    background: transparent;
    margin-right: 10px;
    box-shadow: none;
  }

  .zoom {
    width: 52px;
    height: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    &.zoom-out {
      background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='iso-8859-1'?%3E %3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='475.084px' height='475.084px' viewBox='0 0 475.084 475.084' style='enable-background:new 0 0 475.084 475.084;' xml:space='preserve'%3E %3Cg%3E %3Cg%3E %3Cpath d='M464.524,412.846l-97.929-97.925c23.6-34.068,35.406-72.04,35.406-113.917c0-27.218-5.284-53.249-15.852-78.087 c-10.561-24.842-24.838-46.254-42.825-64.241c-17.987-17.987-39.396-32.264-64.233-42.826 C254.246,5.285,228.217,0.003,200.999,0.003c-27.216,0-53.247,5.282-78.085,15.847C98.072,26.412,76.66,40.689,58.673,58.676 c-17.989,17.987-32.264,39.403-42.827,64.241C5.282,147.758,0,173.786,0,201.004c0,27.216,5.282,53.238,15.846,78.083 c10.562,24.838,24.838,46.247,42.827,64.241c17.987,17.986,39.403,32.257,64.241,42.825 c24.841,10.563,50.869,15.844,78.085,15.844c41.879,0,79.852-11.807,113.922-35.405l97.929,97.641 c6.852,7.231,15.406,10.849,25.693,10.849c10.089,0,18.699-3.566,25.838-10.705c7.139-7.138,10.704-15.748,10.704-25.837 S471.567,419.889,464.524,412.846z M291.363,291.358c-25.029,25.033-55.148,37.549-90.364,37.549 c-35.21,0-65.329-12.519-90.36-37.549c-25.031-25.029-37.546-55.144-37.546-90.36c0-35.21,12.518-65.334,37.546-90.36 c25.026-25.032,55.15-37.546,90.36-37.546c35.212,0,65.331,12.519,90.364,37.546c25.033,25.026,37.548,55.15,37.548,90.36 C328.911,236.214,316.392,266.329,291.363,291.358z'/%3E %3Cpath d='M283.232,182.728h-63.954v-63.953c0-2.475-0.905-4.615-2.712-6.424c-1.809-1.809-3.951-2.712-6.423-2.712H191.87 c-2.474,0-4.615,0.903-6.423,2.712c-1.807,1.809-2.712,3.949-2.712,6.424v63.953h-63.954c-2.474,0-4.615,0.905-6.423,2.712 c-1.809,1.809-2.712,3.949-2.712,6.424v18.271c0,2.475,0.903,4.617,2.712,6.424c1.809,1.809,3.946,2.713,6.423,2.713h63.954 v63.954c0,2.478,0.905,4.616,2.712,6.427c1.809,1.804,3.949,2.707,6.423,2.707h18.272c2.473,0,4.615-0.903,6.423-2.707 c1.807-1.811,2.712-3.949,2.712-6.427v-63.954h63.954c2.478,0,4.612-0.905,6.427-2.713c1.804-1.807,2.703-3.949,2.703-6.424 v-18.271c0-2.475-0.899-4.615-2.703-6.424C287.851,183.633,285.709,182.728,283.232,182.728z'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E ");
    }

    &.zoom-in {
      background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='iso-8859-1'?%3E %3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='475.084px' height='475.084px' viewBox='0 0 475.084 475.084' style='enable-background:new 0 0 475.084 475.084;' xml:space='preserve'%3E %3Cg%3E %3Cg%3E %3Cpath d='M464.524,412.846l-97.929-97.925c23.6-34.068,35.406-72.04,35.406-113.917c0-27.218-5.284-53.249-15.852-78.087 c-10.561-24.842-24.838-46.254-42.825-64.241c-17.987-17.987-39.396-32.264-64.233-42.826 C254.246,5.285,228.217,0.003,200.999,0.003c-27.216,0-53.247,5.282-78.085,15.847C98.072,26.412,76.66,40.689,58.673,58.676 c-17.989,17.987-32.264,39.403-42.827,64.241C5.282,147.758,0,173.786,0,201.004c0,27.216,5.282,53.238,15.846,78.083 c10.562,24.838,24.838,46.247,42.827,64.241c17.987,17.986,39.403,32.257,64.241,42.825 c24.841,10.563,50.869,15.844,78.085,15.844c41.879,0,79.852-11.807,113.922-35.405l97.929,97.641 c6.852,7.231,15.406,10.849,25.693,10.849c10.089,0,18.699-3.566,25.838-10.705c7.139-7.138,10.704-15.748,10.704-25.837 S471.567,419.889,464.524,412.846z M291.363,291.358c-25.029,25.033-55.148,37.549-90.364,37.549 c-35.21,0-65.329-12.519-90.36-37.549c-25.031-25.029-37.546-55.144-37.546-90.36c0-35.21,12.518-65.334,37.546-90.36 c25.026-25.032,55.15-37.546,90.36-37.546c35.212,0,65.331,12.519,90.364,37.546c25.033,25.026,37.548,55.15,37.548,90.36 C328.911,236.214,316.392,266.329,291.363,291.358z'/%3E %3Cpath d='M283.228,182.728h-164.45c-2.474,0-4.615,0.905-6.423,2.712c-1.809,1.809-2.712,3.949-2.712,6.424v18.271 c0,2.475,0.903,4.617,2.712,6.424c1.809,1.809,3.946,2.713,6.423,2.713h164.454c2.478,0,4.612-0.905,6.427-2.713 c1.804-1.807,2.703-3.949,2.703-6.424v-18.271c0-2.475-0.903-4.615-2.707-6.424C287.851,183.633,285.706,182.728,283.228,182.728z '/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3Cg%3E %3C/g%3E %3C/svg%3E ");
    }
  }

  .at-icon-search::before {
    content: ''
  }
  .at-search-bar__input {
    padding: 0 10px;
  }
  .at-search-bar::after {
    border-bottom: none;
  }
  .at-icon-close-circle::before {
    content: "";
  }
  .at-fab--small {
    width: 66px;
    height: 66px;
  }
}

.center {
  text-align: center;
}
.pane {
  background: #F4ECD8;
}

.share-container {
  margin: 0 60px 0 10px;
  .share-button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
    &::after{
      display: none;
    }
  }
}

.no-links {
  padding: 20px 0;
}

.at-accordion__info__title {
  color: black;
  font-size: 36px;
  white-space: pre-wrap;
}
.pane {
  .at-accordion__info__title {
    color: #20470e !important;
  }
}
.at-accordion__arrow {
  color: #333333;
}

.at-accordion {
  background-color: rgba(256, 256, 256, 0.4);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  margin-bottom: 30px;
}

.module-container {
  position: relative;
  .title-icon {
    position: absolute;
    top: 18px;
    left: 16px;
    width: 50px;
    height: 50px;
    z-index: 99;
  }
}

.understanding-line {
  padding: 0 6px 0 10px;
  .source {
    font-size: 28px;
    color: #5200cc;
    margin: 10px 0;
  }
}
