.civil-term-detail-page {
  padding: 10px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 32px;
  &.read-mode {
    background: #F4ECD8;
  }
  .header {
    color: gray;
  }

  .section {
    white-space: pre-wrap;
    font-size: 32px;
    margin-bottom: 50px;
    .section-title {
      color: #6190E8;
    }
  }

  .example {
    white-space: pre-wrap;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .favorite-container {
    position: fixed;
    right: 6%;
    top: 10px;
  }

  .tag-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: 32px;
    .pre-tag {
      margin-bottom: 20px;
      margin-right: 10px;
    }
    .tag {
      font-size: 32px;
      display: inline-block;
      padding: 3px 10px;
      margin-bottom: 20px;
      border-radius: 10px;
      background: dodgerblue;
      color: white;
    }
  }
}

.link {
  color: #222222;
  margin: 10px 0px 10px 0px;
  &.out-dated {
    display: none;
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.6);
  }
  .title {
    color: #6190E8;
    font-weight: bold;
  }
}
.link_reason {
  color: #666;
}
.center {
  text-align: center;
}
.pane {
  background: #F4ECD8;
}

