.discussion-area {
  position: relative;
  padding-bottom: 180px;
  .title {
    font-size: 32px;
    padding: 16px 0px 16px 20px;
    margin-bottom: 10px;
    border-left: 10px solid #6190E8;
    font-weight: bold;
  }
  .comment-line {
    display: flex;
    margin-bottom: 20px;
    padding: 0px 10px;
    .comment-avatar {
      padding-top: 10px;
      margin-right: 20px;
      .avatar-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      .avatar {
        width: 80px;
        height: 80px;
      }
    }
    .comment-text {
      flex-grow: 1;
      border-bottom: 1px solid #d6e4ef;
      .comment-name {
        color: saddlebrown;
        font-size: 28px;
        padding-bottom: 10px;
      }
      .comment-content {
        font-size: 32px;
        padding-bottom: 10px;
      }
      .comment-time {
        font-size: 26px;
        color: #888888;
        padding-bottom: 10px;
      }
    }
  }

  .loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    top:0;
    left:0;
  }
}
