.search-item {
  display: block;
  margin: 25px 10px 20px 10px;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 34px;
  color: #111;
  white-space: pre-wrap;
  background: white;
  box-shadow: 0px 0px 20px -1px rgba(199,199,199,1);
  &.read-mode {
    background: #F4ECD8;
  }

  &.deleted {
    text-decoration: line-through;
    text-decoration-color: yellow;
    .crime {
      text-decoration: line-through;
      text-decoration-color: yellow;
    }
    .tag {
      text-decoration: line-through;
      text-decoration-color: yellow;
    }
  }

  .crime {
    background: #ff4d4d !important;
  }

  .tag {
    font-size: 32px;
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: dodgerblue;
    color: white;

  }

  .highlight-keyword {
    color: black;
    font-weight: bold;
    font-style: italic;
    background: gold;
    padding: 0px 10px 0px 5px;
  }

  .highlight-number {
    color: rgb(100, 67, 148);
    //text-shadow: 1px 1px 2px rgb(159, 131, 201);
    font-weight: bolder;
  }
}
