.example-page {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 200px;
  background: lightgrey;
  overflow-y: scroll;
  box-sizing: border-box;
  &.read-mode {
    background: #F4ECD8;
  }
  .header {
    .search {
      width: 100%;
    }
  }

  .title {
    margin: 30px 10px 0px 20px;
  }
  .options {
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .option {
      min-width: 70px;
      text-align: center;
      margin: 5px 10px;
      border-radius: 6px;
      color: white;
      &.procuratorate-option {
        background: darkred;
      }
      &.court-option {
        background: dodgerblue;
      }

      &.expand {
        width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }

  .loading-container {
    position: fixed;
    top: 100px;
    left: 0;
    height: calc( 100vh - 100px );
    width: 100%;
    background: transparent;
  }

  .no-result {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 38px;
    color: midnightblue;
  }

  .float {
    position: fixed;
    background: green;
    bottom: 5%;
    right: 5%;
  }

  .float-help {
    position: fixed;
    top: 14%;
    right: 60px;
  }

  .result-item {
    position: relative;
    .exact-match {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 36px;
      height: 36px;
    }
  }

  .exact-match-hide {
    display: none;
  }

  .at-list__item .item-content__info-title {
    font-size: 36px;
    color: black;
  }
  .at-list__item .item-content__info-note {
    color: #6190E8;
  }
}


.icon-line {
  display: flex;
  justify-content: center;
  color: #666666;
  margin: 16px 0;
}
