.category-list {
  margin: 30px 10px;
  font-size: 36px;
  .category-option-container {
    margin-top: 15px;
    background: #f6f6f6;
    &.read-mode {
      background: #F4ECD8;
      .chapter-option{
        background: #F4ECD8;
      }
    }
    &.category-option-1 {
      padding-left: 40px;
      .category-option {
        color: #6190E8;
        font-size: 40px;
        font-weight: bold;
        max-width: calc( 92vw - 40px );
      }
    }
    &.category-option-2 {
      padding-left: 80px;
      .category-option {
        color: #6190E8;
        font-size: 38px;
        max-width: calc( 92vw - 80px );
      }
    }
    .category-option {
      display: inline-block;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #6190E8;
    }

  }
}
