.zoom-in {
  font-size: 40px !important;
}

.line-center {
  display: flex;
  align-items: center;
  font-size: 30px;
  &.example {
    .title {
      padding-left: 48px;
      max-width: 90%;
    }
  }
  .title {
    box-sizing: border-box;
    max-width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }
}
.time {
  font-size: 26px;
  color: #4d4dff;
}

