@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.login-popup {
  position: fixed;
  top: 40%;
  left: 15%;
  width: 70%;
  font-size: 28px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
  z-index: 9999;

  .login-button {
    background: white;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    height: 100px;
    border: none;
    box-sizing: border-box;
    padding-left: 60px;
    &:before{
      content: '';
      width: 0px;
      height: 0px;
      position: absolute;
      border: 15px solid;
      border-color: transparent lightgreen transparent transparent;
      left: 98px;
      top: 35px;
    }
    .text {
      display: inline-block;
      min-height: 38px;
      background: lightgreen;
      padding: 8px 28px;
      border-radius: 10px;
      font-size: 28px;
      line-height: 1.5;
      .cursor {
        margin-left: 6px;
        color: white;
        border-color: white;
        border-right: 5px solid;
        animation: caret 1s steps(1) infinite;
      }
    }
    .avatar {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }
}
