.drop-down-item {

  .toggle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
  }

  .text {
    padding: 10px 15px;
    margin-bottom: 50px;
    background: #f6f6f6;
    border-radius: 20px;
    //text-align: center;
  }
}
