.index-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 60px;
  background: #fff;
  overflow-y: scroll;
  position: relative;
  &.read-mode {
    background: #F4ECD8;
  }

  .float-help {
    position: absolute;
    top: 170px;
    right: 60px;
  }

  .float-subscribe {
    position: absolute;
    top: 160px;
    left: 60px;
  }

  .float-analytics {
    position: absolute;
    top: 280px;
    right: 60px;
  }
  .icon-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    .icon-title {
      width: 260px;
      height: 260px;
    }
  }

  .main-swiper {
    height: 400px;
  }
  .swiper-item-container {
    .image {
      height: 400px;
      width: 100vw;
    }
  }

  .grids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 8px;
    &:nth-child(2) {
      //background: rgba(160, 160, 160, 0.1);

    }
  }

  .grid-container {
    margin: 10px auto;
  }

  .footer-container {
    padding-top: 100px;
  }

  .footer {
    display: flex;
    align-items: center;
    .logo {
      z-index: 99;
      width: 78px;
      height: 60px;
    }
  }

  .sub-title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      padding: 0px 20px;
    }
    .divider {
      flex-grow: 1;
      border: 2px solid #6190E8;
    }
  }

  .poster {
    height: 794px;
    width: 622px;
  }

  .poster-collect {
    height: 800px;
    width: 578px;
  }
}

.footer-logo {
  position: fixed;
  top: 50%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
  line-height: 100px;
  height: 90px;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: rgba(97, 144, 232, 0.8);
  -webkit-animation: blurFadeInOut 8s ease-in backwards;
  -moz-animation: blurFadeInOut 8s ease-in backwards;
  -ms-animation: blurFadeInOut 8s ease-in backwards;
  animation: blurFadeInOut 8s ease-in backwards;
}

.image-for-loading {
  display: none;
}
.cake-container {
  position: absolute;
  top: 300px;
  right: 100px;
  .cake {
    width: 80px;
    height: 80px;
  }
}


@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.3);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -moz-transform: scale(0);
  }
}

.qrcode-container {
  position: absolute;
  top: 280px;
  right: 60px;
  .qrcode {
    width: 60px;
    height: 60px;
  }
}

.at-tabs__item {
  padding: 16px !important;
}

.video-container {
  height: 550px;
}
