.search-item {
  display: block;
  margin: 15px 10px 25px 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 32px;
  white-space: pre-wrap;
  background: white;
  box-shadow: 0px 0px 20px -1px rgba(199,199,199,1);
  &.read-mode {
    background: #F4ECD8;
  }

  .titles {
    font-size: 30px;
    padding-bottom: 5px;
    .title {
      color: #777;
      margin-right: 30px;
    }
  }

  .tag {
    font-size: 32px;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 20px;
    background: dodgerblue;
    color: white;

  }
}
