.all-law-catgory-part {
  padding-left: 0;
}
.all-law-catgory-chapter {
  padding-left: 22px;
}
.all-law-catgory-section {
  padding-left: 44px;
}
.all-law-catgory-option {
  box-sizing: border-box;
  padding: 16px 0px 16px 20px;
  font-size: 34px;
  max-width: 780px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6190E8;

}

.all-law-catgory-title {
  padding: 20px 0 20px 10px;
  font-size: 34px;
  color: black;
}

.border {
  box-sizing: border-box;
  border-left: 2px solid #6190E8;
}




