.all-law-catgory-part {
  padding-left: 0;
}
.all-law-catgory-chapter {
  padding-left: 26px;
}
.all-law-catgory-section {
  padding-left: 52px;
}
.all-law-catgory-option {
  padding: 16px 0px 16px 40px;
  font-size: 34px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6190E8;

}

.all-law-catgory-title {
  padding: 24px;
  font-size: 34px;
  color: #333333;
}

.border {
  box-sizing: border-box;
  border-left: 2px solid #6190E8;
}
